
 <header>
<!-- ======================================Navigation Bar================================================= -->
        <nav class="navbar navbar-expand-lg navStyle">
            <a class="brand-navbar">
            <img src="assets/img/logo.jpg"  height="60px"></a>
            
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu">
                <span><i class="fas fa-align-right iconStyle"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav ml-auto navList">
                    <li class="nav-item "><a routerLink="" class="nav-link">HOME</a></li>
                    <li class="nav-item">
                        <a routerLink="demoquiz" class="nav-link">DEMOQUIZ</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="login-student" class="nav-link">Student</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="login-teacher" class="nav-link">Teacher</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="about.html" class="nav-link"><i class="fas fa-users"></i>CONTACT</a>
                    </li> -->
                </ul>
            </div>
        </nav>


        
        
</header>

    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- </html> -->
